html, body {
  overflow-x: hidden;
  color: #000000;
}

a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
  border-bottom:solid 1px transparent;
}

.header {
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header-text {
  float: left;
  padding-left: 20px
}

.header-text-ceo {
  font-family: 'ApercuPro-Light';
  font-size: 18px;
  color: #000000;
}

.header-text-fellows {
  font-family: 'ApercuPro-Bold';
  font-size: 18px;
  color: #000000;
}

.header-hamburger {
  font-size: 18px;
  float: right;
  padding-right: 20px;
}

@media (min-width: 992px) {
  .header-hamburger {
    display: none;
  }
}

.header-links {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "ApercuPro-Regular";
  font-size: 14px;
}

.header-link {
  margin-left: 27px;
  margin-right: 27px;
}

.header-link > a {
  color: #9B9B9B;
}

.header-link > a:hover {
  color: #000000;
}

.header-login {
  border: 1px solid #979797;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 991px) {
  .header-links {
    display: none;
  }
}

.top {
  height: 55px;
}

.homepage-banner {
  background: rgba(0,0,0,0.30);
  min-height: 405px;
  overflow: hidden;
  position: relative;
}

.homepage-banner-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 405px;
  filter: blur(5px);
}

@media (max-width: 576px) {
  .homepage-banner {
    height: 405px;
  }
  .homepage-banner-image {
    max-height: 405px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .homepage-banner {
    height: 470px;
  }
}

@media (min-width: 992px) {
  .homepage-banner {
    height: 610px;
  }
}

@media (min-width: 1200px) {
  .homepage-banner {
    height:725px;
  }
}

.homepage-banner-text {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 18px;
  padding-right: 18px;

  color: #FFFFFF;
  font-family: 'ApercuPro-Bold';
  font-size: 28px;
}

.homepage-banner-button-wrapper {
  padding-left: 18px;
}

.homepage-banner-button {
  padding-top: 2px;
  height: 50px;
  width: 175px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'ApercuPro-Bold';
  font-size: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .homepage-banner-text {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .homepage-banner-button-wrapper {
    padding-left: 50px;
  }
}

@media (min-width: 768px) {
  .homepage-banner-text {
    padding-top: 150px;
  }
}

@media (min-width: 992px) {
  .homepage-banner-text {
    font-size: 48px;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 75px;
  }

  .homepage-banner-button-wrapper {
    padding-top: 30px;
    padding-left: 150px;
  }

  .homepage-banner-button {
    height: 72px;
    width: 236px;
    padding-top: 5px;
    font-family: "ApercuPro-Light";
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .homepage-banner-text {
    padding-top: 170px;
  }
}

.cosgrove-panel {
  padding-top: 32px;
  padding-bottom: 56px;
  background-color: #FFFFFF;
}

.cosgrove-panel-intro {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "ApercuPro-Regular";
  font-size: 24px;
}

.cosgrove-panel-image-mobile {
  padding-top: 30px;
  padding-bottom: 35px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display:block;
  margin: auto;
}

@media (min-width: 415px) {
  .cosgrove-panel-image-mobile {
    max-width: 415px;
  }
}

.cosgrove-quote-text {
  font-family: "ArnhemPro-BlondItalic";
  font-size: 20px;
  padding-bottom: 30px;
}

.cosgrove-quote-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.cosgrove-quote-name {
  font-family: "ApercuPro-Bold";
  font-size: 16px;
}

.cosgrove-quote-title {
  font-family: "ApercuPro-Regular";
  font-size: 16px;
}

@media (min-width: 768px) {
  .cosgrove-panel {
    min-height: 500px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .cosgrove-panel-intro {
    padding-bottom: 20px;
  }

  .cosgrove-panel-image-mobile {
    display: none;
  }

  .cosgrove-panel-image-wrapper {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cosgrove-panel-image-desktop {
    width: 300px;
  }

  .cosgrove-quote-wrapper {
    padding-top: 50px;
  }
}

@media (min-width: 1200px) {
  .cosgrove-panel {
    padding-top: 50px;
    min-height: 750px;
    padding-left: 120px;
    padding-right: 120px
  }

  .cosgrove-panel-image-wrapper {
    padding-right: 100px
  }
  .cosgrove-panel-image-desktop {
    width: 400px;
  }

  .cosgrove-panel-intro {
    font-size: 36px;
  }
  .cosgrove-quote-text {
    font-size: 24px;
  }
  .cosgrove-quote-name {
    font-size: 18px;
  }
  .cosgrove-quote-title {
    font-size: 18px;
  }
}

.motivational-banner {
  height: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;;
  background: #FFD767;
  box-shadow: 0 0 4px 2px rgba(196,196,196,0.50);
}

.motivational-banner-text1, .motivational-banner-text2 {
  padding-top: 15px;
  font-size: 18px;
  font-family: "ApercuPro-Bold";
  color: #FFFFFF;
}

.motivational-banner-text1 {
  padding-right: 50px;
  padding-left: 50px;
}

.motivational-banner-text2 {
  padding-right: 60px;
  padding-left: 60px;
}

@media (min-width: 992px) {
  .motivational-banner {
    min-height: 500px;
  }

  .motivational-banner-text1, .motivational-banner-text2 {
    font-size: 36px;
  }
}

.fa-chevron-down {
  color: #FFFFFF;
}

.imagine-section {
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 350px;
  background: #FFFFFF;
}

.imagine-section-title {
  font-family: "ArnhemPro-Bold";
  font-size: 30px;
  padding-bottom: 30px;
}

.imagine-untyped {
  padding-top: 30px;
}

.imagine-untyped, .imagine-typed {
  font-family: "ApercuPro-Bold";
  font-size: 30px;
}

.imagine-typed {
  max-width: 80%;
}

.typed-cursor{
    opacity: 1;
    font-weight: 700;
    font-size: 30px;
    color: #FFD767;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

@media (min-width: 768px) {
  .imagine-section {
    padding-left: 60px;
    padding-right: 60px;
  }
  .yellow-divider.imagine-divider {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .imagine-section {
    padding-left: 65px;
    padding-right: 65px;
    min-height: 560px;
  }
  .imagine-section-title {
    font-size: 64px;
  }

  .imagine-untyped,
  .imagine-typed,
  .typed-cursor {
    font-size: 60px;
  }

  .yellow-divider.imagine-divider {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .imagine-section {
    padding-left: 140px;
    padding-right: 140px;
    min-height: 720px;
  }
  .imagine-section-title {
    font-size: 80px;
  }

  .imagine-untyped,
  .imagine-typed,
  .typed-cursor {
    font-size: 72px;
  }
}

.how-it-works {
  padding-top: 65px;
  padding-bottom: 70px;
}

.how-it-works-title {
  font-family: "ApercuPro-Bold";
  font-size: 28px;
  padding-left: 17px;
}

.yellow-divider {
  background-color: #FFD767;
  height: 4px;
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.how-it-works-image {
  display: block;
  margin: auto;
}

.how-it-works-text {
  font-family: "ApercuPro-Regular";
  font-size: 18px;
  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  .how-it-works-title {
    padding: 0;
    text-align: center;
    font-size: 48px;
  }

  .how-it-works-section-wrapper {
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
  }
  .how-it-works-text {
    font-size: 24px;
  }
}

.bullet-points {
  background-color: #FFD767;
  padding-top: 45px;
  padding-bottom: 10px;
}

.bullet-points-list > li {
  padding-bottom: 36px;
  padding-right: 15px;
  padding-left: 10px;
  width: 100%;
  list-style: url("../icons/solid_white.svg");
  color: #FFFFFF;
}

.bullet-points-list > li > span {
  font-family: "ApercuPro-Regular";
  font-size: 14px;
  color: #000000;
}

@media (min-width: 992px) {
  .bullet-points {
    padding-top: 75px;
    padding-bottom: 25px;
    padding-left: 30px;
  }
  .bullet-points-list > li {
    padding-top: 15px;
    padding-left: 30px;
  }
  .bullet-points-list > li > span {
    font-family: "ApercuPro-Bold";
    font-size: 20px;
  }
}

.testimonials {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.testimonials-intro {
  font-family: "ApercuPro-Medium";
  font-size: 36px;
  padding-bottom: 50px;
}

.testimonial-row {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial-section {
  flex-grow: 1;
  flex-basis: 0;
}

.testimonial-section.left {
  padding-right: 30px;
}

.testimonial-section-image {
  height: 190px;
  width: auto;
  float: left;
  padding-right: 30px;
}

.testimonial-section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-section-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "ApercuPro-Light";
  font-size: 14px;
}

.testimonial-section-name-bold {
  font-family: "ApercuPro-Regular";
}

.testimonial-section-quote {
  font-family: "ArnhemPro-BlondItalic";
  font-size: 14px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .testimonials-intro {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .testimonial-row {
    flex-direction: column;
  }

  .testimonial-section.left {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .testimonial-section-image {
    display: block;
    float: none;
    width: 80%;
    height: auto;
    padding-right: 0;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .testimonial-section-image {
    padding-right: 50px;
  }

  .testimonial-section.left {
    padding-right: 50px;
  }
}

.partners {
  padding-top: 53px;
}

.partners > .yellow-divider {
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 992px) {
  .partners > .yellow-divider {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.partners-title {
  font-family: "ApercuPro-Bold";
  font-size: 24px;
  padding-right: 25px;
  padding-left: 25px;
}

.partners-description {
  padding-top: 23px;
  padding-bottom: 50px;
}

.partners-description > p {
  font-family: "ApercuPro-Medium";
  font-size: 14px;
  padding-right: 25px;
  padding-left: 25px;
}

.partners-picture {
  height: 280px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  max-width: 280px;
  background: rgba(0,0,0,0.50);
}

.partners-picture-wrapper {
  display: flex;
  flex-direction: column;
}

.partners-picture-image {
  z-index: -1;
  max-height: 280px;
  position: absolute;
  filter: blur(5px);
}

.partners-picture-text {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: "ApercuPro-Bold";
  font-size: 18px;
  color: #FFFFFF;
}

.partners-picture-text.one {
  margin-top: 35%;
  margin-bottom: 35%;
}

.partners-picture-text.two {
  margin-top: 18%;
  margin-bottom: 18%;
}

.partners-picture-text.three {
  margin-top: 18%;
  margin-bottom: 18%;
}

.partners-picture-text.four {
  margin-top: 26%;
  margin-bottom: 26%;
}

@media (min-width: 576px) {
  .partners {
    padding-bottom: 100px;
  }
  .partners-picture-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .partners-picture {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .partners-picture {
    height: 350px;
    max-width: 350px;
  }
  .partners-picture-image {
    max-height: 350px;
  }
  .partners-picture-text.one {
    margin-top: 40%;
    margin-bottom: 40%;
  }

  .partners-picture-text.two {
    margin-top: 28%;
    margin-bottom: 28%;
  }

  .partners-picture-text.three {
    margin-top: 28%;
    margin-bottom: 28%;
  }

  .partners-picture-text.four {
    margin-top: 32%;
    margin-bottom: 32%;
  }
}

@media (min-width: 992px) {
  .partners-title {
    padding-left: 50px;
    padding-right: 200px;
    font-size: 36px;
  }
  .partners > .yellow-divider {
    margin-left: 50px;
    margin-right: 50px;
  }
  .partners-description > p {
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .partners-picture {
    height: 420px;
    max-width: 420px;
  }
  .partners-picture-image {
    max-height: 420px;
  }
  .partners-picture-text {
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .partners-picture-text.three {
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media (min-width: 1200px) {
  .partners-title {
    font-size: 48px;
  }
  .partners-description > p {
    font-size: 36px;
  }
  .partners-picture {
    height: 470px;
    max-width: 470px;
  }
  .partners-picture-image {
    max-height: 470px;
  }
  .partners-picture-text {
    font-size: 32px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .partners-picture-text.one {
    margin-top: 30%;
    margin-bottom: 30%;
  }

  .partners-picture-text.two {
    margin-top: 12%;
    margin-bottom: 12%;
  }

  .partners-picture-text.three {
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .partners-picture-text.four {
    margin-top: 25%;
    margin-bottom: 25%;
  }
}

.alpine-section {
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.alpine-section-title {
  font-family: "ApercuPro-Medium";
  font-size: 28px;
  padding-bottom: 34px;
}

.alpine-section-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.alpine-section-video > iframe {
  position: absolute;
  overflow: hidden;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

.alpine-section-logo {
  display: block;
  padding-top: 8px;
  width: 100px;
}

.alpine-section-quote {
  font-family: "ArnhemPro-BlondItalic";
  font-size: 20px;
  padding-top: 40px;
}

.alpine-section-quote-name {
  padding-top: 15px;
  font-family: "ApercuPro-Medium";
  font-size: 16px;
}

.alpine-section-quote-role {
  font-family: "ApercuPro-Regular";
  font-size: 16px;
  color: #4A4A4A;
  padding-bottom: 40px;
}

@media (min-width: 992px) {
  .alpine-section {
    padding-bottom: 150px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .alpine-section-carousel {
    float: left;
    width: 500px;
    padding-right: 50px;
  }
  .alpine-section-logo {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .alpine-section-title {
    font-size: 36px;
  }
  .alpine-section-carousel {
    width: 600px;
  }
  .alpine-section-quote {
    font-size: 30px;
    padding-top: 0;
  }
  .alpine-section-quote-name {
    font-size: 18px;
  }
  .alpine-section-quote-role {
    font-size: 18px;
  }
}

.end-section {
  padding-top: 57px;
  padding-bottom: 20px;
  background-color: #FFD767;
  padding-right: 40px;
  padding-left: 20px;
  font-family: "ApercuPro-Bold";
  font-size: 18px;
}

.end-section > a {
  color: #000000;
}

.end-section > a:hover {
  text-decoration: underline;
}

.end-section > a:active {
  color: #FFFFFF;
}

.end-section > a:visited {
  color: #000000;
}

.end-section-text {
  padding-bottom: 50px;
}

.end-section-button {
  max-width: 173px;
  border: 2px solid #000000;
  border-radius: 3px;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.end-section-top {
  padding-top: 50px;
  color: #FFFFFF;
  font-family: "ApercuPro-Light";
  font-size: 18px;
}

.end-section-copyright {
  font-family: "ApercuPro-Regular";
  color: #FFFFFF;
  font-size: 14px;
}

@media (min-width: 992px) {
  .end-section {
    font-size: 36px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .end-section-text {
    padding-bottom: 100px;
  }
  .end-section-button {
    max-width: 320px;
    margin-bottom: 200px;
  }
}

@media (min-width: 1200px) {
  .end-section {
    font-size: 48px;
  }
  .end-section-button {
    max-width: 420px;
  }
}


.about-title {
  padding-top: 65px;
  font-family: "ApercuPro-Bold";
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.about {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.about-pic {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  height: auto;
  filter: grayscale(100%);
}

.about-name {
  padding-top: 27px;
  font-family: "ApercuPro-Bold";
  font-size: 28px;
}

.about-icon-wrapper {
  padding-top: 27px;
  padding-bottom: 20px;
}

.about-icon-link {
  display: inline;
  padding-right: 15px;
}

.about-text {
  font-family: "ApercuPro-Regular";
  font-size: 18px;
  padding-bottom: 20px;
}

.about-text > span {
  font-family: "ApercuPro-Bold";
}

@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
  }

  .about-pic-wrapper {
    flex-grow: 1;
    flex-basis: 0;
  }

  .about-text-wrapper {
    flex-grow: 1;
    flex-basis: 0;
  }

  .about-name {
    padding-bottom: 30px;
  }

  .about-pic {
    padding-top: 180px;
  }

  .about-icon-wrapper {
    text-align: center;
  }

  .about-icon-link {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 992px) {
  .about-title {
    padding-left: 75px;
    padding-right: 75px;
    font-size: 36px;
  }

  .about-divider.yellow-divider {
    margin-left: 75px;
    margin-right: 75px;
  }

  .about-text-wrapper {
    padding-right: 60px;
  }

  .about-pic {
    /*max-width: 400px;*/
    padding-top: 215px;
  }

  .about-name {
    font-size: 36px;
  }
  .about-text {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .yellow-divider {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.modal-content {
  padding: 80px;
  text-align: center;
  font-family: "ApercuPro-Light";
}

.modal-title1 {
  font-size: 18px;
}

.modal-title1 > span {
  font-family: "ApercuPro-Bold";
}

.modal-title2 {
  font-size: 36px;
  padding-bottom: 12px;
}

.modal-text {
  font-size: 14px;
  padding-bottom: 35px;
}

.modal-submit {
  width: 100%;
  background-color: #FFD767;
  color: #4A4A4A;
  border: none;
}
