/*For convenience in addition to providing the Sketch file, 
I've generated the CSS code from each Sketch artboard*/


/**/
/**/
/**/

/*designed by Minsoo Thigpen*/


/*////*/
/*Home*/
/*////*/




/* Rectangle 5: */
background: #FFD767;
box-shadow: 0 0 4px 2px rgba(196,196,196,0.50);
/* Do you have CEO Pote: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
/* Are you a student le: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
/* Combined Shape: */
border: 3px solid #FFFFFF;
/* “Success in today's: */
font-family: ArnhemPro-BlondItalic;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* Dr. Delos (Toby) Cos: */
font-family: ApercuPro-Regular;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Image 3: */
/* Rectangle: */
background: rgba(0,0,0,0.50);
/* Our network of CEOs,: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0.67px;
/* Rectangle 2: */
border: 2px solid #FFFFFF;
border-radius: 10px;
/* Apply Now: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle 4: */
background: #FFFFFF;
/* Rectangle 4 Copy: */
background: #FFFFFF;
/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3: */
border: 0 solid #979797;
border-radius: 5px;
/* Rectangle 3: */
border: 1px solid #979797;
border-radius: 5px;
/* How It Works: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* LEADERS-Delos-Toby-Cosgrove-Cleveland-Clinic_opt: */
/* Meet one of our stud: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;





/*////////////*/
/*How It Works*/
/*////////////*/





/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Bold;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3 Copy: */
border: 0 solid #979797;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* The CEO fellows team: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* Our Partners include: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* How It Works: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* Rectangle: */
background: #FFD767;
/* Get on personal rada: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Learn about leadersh: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Get a head start dev: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Be first in line for: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Expand your network: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Rectangle 6: */
background: #FFFFFF;
/* Rectangle 6 Copy: */
background: #FFFFFF;
/* Rectangle 6 Copy 2: */
background: #FFFFFF;
/* Rectangle 6 Copy 3: */
background: #FFFFFF;
/* Rectangle 6 Copy 4: */
background: #FFFFFF;
/* Oval: */
background: #FFD767;
/* ?: */
font-family: Akkurat-Bold;
font-size: 55px;
color: #FFFFFF;
letter-spacing: 0;
/* Ask CEOs tough quest: */
font-family: ApercuPro-Regular;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Oval Copy 2: */
background: #FFD767;
/* Oval 2: */
background: #FFFFFF;
/* Oval 2 Copy: */
background: #FFFFFF;
/* Oval 2 Copy 2: */
background: #FFFFFF;
/* Oval 2 Copy 3: */
background: #FFFFFF;
/* Oval 2 Copy 5: */
background: #FFFFFF;
/* Oval 2 Copy 6: */
background: #FFFFFF;
/* Oval 2 Copy 4: */
background: #FFFFFF;
/* Path 4: */
border: 1px solid #FFFFFF;
/* Path 5: */
border: 1px solid #FFFFFF;
/* Path 6: */
border: 0 solid #FFFFFF;
/* Network with student: */
font-family: ApercuPro-Regular;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Oval Copy: */
background: #FFD767;
/* Path 3: */
border: 6px solid #FFFFFF;
/* Assess your own stre: */
font-family: ApercuPro-Regular;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* “Lorem ipsum dolor s: */
font-family: ArnhemPro-BlondItalic;
font-size: 14px;
color: #000000;
letter-spacing: 0;
line-height: 18px;
/* Rectangle 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* Graham Turk Universi: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* “Lorem ipsum dolor s: */
font-family: ArnhemPro-BlondItalic;
font-size: 14px;
color: #000000;
letter-spacing: 0;
line-height: 18px;
/* Rectangle 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* Henry Li University: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* “Lorem ipsum dolor s: */
font-family: ArnhemPro-BlondItalic;
font-size: 14px;
color: #000000;
letter-spacing: 0;
line-height: 18px;
/* Rectangle 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* E.B. Armstrong Unive: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* “Lorem ipsum dolor s: */
font-family: ArnhemPro-BlondItalic;
font-size: 14px;
color: #000000;
letter-spacing: 0;
line-height: 18px;
/* Rectangle 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* Minsoo Thigpen Brown: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Hear from some of ou: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;






/*////////////*/
/*Our Partners*/
/*////////////*/





/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #A2A2A2;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Bold;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3 Copy: */
border: 0 solid #979797;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 5: */
background: #FFD767;
box-shadow: 0 0 4px 2px rgba(196,196,196,0.50);
/* If all these things: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Get a Fellowship.: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Rectangle: */
border: 5px solid #000000;
border-radius: 5px;
/* © 2017 - ceofellows.: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* The CEO fellows team: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* We are advisors to b: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* Our Partners include: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* financial_district: */
/* Rectangle Copy 4: */
background: rgba(0,0,0,0.50);
/* We have written nume: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.45);
/* Blackboard: */
/* Mask: */
background: rgba(0,0,0,0.50);
/* We have helped creat: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* google-office-tel-aviv-26: */
/* Rectangle Copy: */
background: rgba(0,0,0,0.50);
/* We are coaches to “r: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* College: */
/* Rectangle Copy 3: */
background: rgba(0,0,0,0.50);
/* We work with top lea: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Hear from one of our: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
/* Screen Shot 2017-04-01 at 8.52.49 PM: */
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
/* Alpine Investor Logo: */
/* Path 7: */
border: 3px solid #4A4A4A;
/* Path 7: */
border: 3px solid #4A4A4A;
/* Path 7: */
border: 3px solid #4A4A4A;
/* Path 7: */
border: 3px solid #4A4A4A;
/* Oval 3: */
background: #4A4A4A;
/* Oval 3 Copy: */
border: 1px solid #979797;
/* Oval 3 Copy 2: */
border: 1px solid #979797;
/* Oval 3 Copy 3: */
border: 1px solid #979797;
/* “We look for high po: */
font-family: ArnhemPro-BlondItalic;
font-size: 30px;
color: #000000;
letter-spacing: 0;
/* Katie Bruzzone Marke: */
font-family: ApercuPro-Regular;
font-size: 18px;
color: #000000;
letter-spacing: 0;






/*////////////////////////////*/
/*Get a Fellowship ERROR INPUT*/
/*////////////////////////////*/





/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #A2A2A2;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3 Copy: */
border: 0 solid #979797;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 5: */
background: #FFD767;
box-shadow: 0 0 4px 2px rgba(196,196,196,0.50);
/* If all these things: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Get a Fellowship.: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle: */
border: 5px solid #FFFFFF;
border-radius: 5px;
/* © 2017 - ceofellows.: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
/* Black Cover: */
background: rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #FFFFFF;
border: 1px solid #979797;
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 5px;
/* * the following fiel: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Input Background: */
background: #FFD767;
border-radius: 3px;
/* Input Background Copy: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Input Background Copy 2: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Input Background Copy 3: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Submit: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #4A4A4A;
/* Email Address: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* School Name: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Name: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Thank you for your i: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* Register: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #000000;
letter-spacing: 1.6px;
/* CEO Fellows Copy: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;





/*////////////////*/
/*Get a Fellowship*/
/*////////////////*/




/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #A2A2A2;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3 Copy: */
border: 0 solid #979797;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 5: */
background: #FFD767;
box-shadow: 0 0 4px 2px rgba(196,196,196,0.50);
/* If all these things: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Get a Fellowship.: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle: */
border: 5px solid #FFFFFF;
border-radius: 5px;
/* © 2017 - ceofellows.: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
/* Black Cover: */
background: rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #FFFFFF;
border: 1px solid #979797;
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 5px;
/* Input Background: */
background: #FFD767;
border-radius: 3px;
/* Input Background Copy: */
border: 1px solid #979797;
border-radius: 3px;
/* Input Background Copy 2: */
border: 1px solid #979797;
border-radius: 3px;
/* Input Background Copy 3: */
border: 1px solid #979797;
border-radius: 3px;
/* Submit: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #4A4A4A;
/* Email Address: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* School Name: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Name: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Thank you for your i: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* Register: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #000000;
letter-spacing: 1.6px;
/* CEO Fellows Copy: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;




/*////////////////////////////////*/
/*For Companies Pop Up ERROR INPUT*/
/*////////////////////////////////*/



/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #A2A2A2;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Bold;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3 Copy: */
border: 0 solid #979797;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Our Partners include: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* The CEO fellows team: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* We are advisors to b: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* financial_district: */
/* Rectangle Copy 4: */
background: rgba(0,0,0,0.50);
/* We have written nume: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.45);
/* Blackboard: */
/* Mask: */
background: rgba(0,0,0,0.50);
/* We have helped creat: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* google-office-tel-aviv-26: */
/* Rectangle Copy: */
background: rgba(0,0,0,0.50);
/* We are coaches to “r: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* College: */
/* Rectangle Copy 3: */
background: rgba(0,0,0,0.50);
/* We work with top lea: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Black Cover: */
background: rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #FFFFFF;
border: 1px solid #979797;
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 5px;
/* Thank you for your i: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* Input Background: */
background: #FFD767;
border-radius: 3px;
/* Input Background Copy: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Input Background Copy 2: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Input Background Copy 3: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Submit: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #4A4A4A;
/* Email Address: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Organization or Comp: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Name: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Register: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #000000;
letter-spacing: 1.6px;
/* CEO Fellows Copy: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* Please enter your in: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* * the following fiel: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;




/*////////////////////*/
/*For Companies Pop Up*/
/*////////////////////*/



/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #A2A2A2;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Bold;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3 Copy: */
border: 0 solid #979797;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Our Partners include: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* The CEO fellows team: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* We are advisors to b: */
font-family: ApercuPro-Medium;
font-size: 36px;
color: #000000;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* financial_district: */
/* Rectangle Copy 4: */
background: rgba(0,0,0,0.50);
/* We have written nume: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.45);
/* Blackboard: */
/* Mask: */
background: rgba(0,0,0,0.50);
/* We have helped creat: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* google-office-tel-aviv-26: */
/* Rectangle Copy: */
background: rgba(0,0,0,0.50);
/* We are coaches to “r: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* College: */
/* Rectangle Copy 3: */
background: rgba(0,0,0,0.50);
/* We work with top lea: */
font-family: ApercuPro-Bold;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Black Cover: */
background: rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #FFFFFF;
border: 1px solid #979797;
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 5px;
/* Thank you for your i: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* Input Background: */
background: #FFD767;
border-radius: 3px;
/* Input Background Copy: */
border: 1px solid #979797;
border-radius: 3px;
/* Input Background Copy 2: */
border: 1px solid #979797;
border-radius: 3px;
/* Input Background Copy 3: */
border: 1px solid #979797;
border-radius: 3px;
/* Submit: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #4A4A4A;
/* Email Address: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Organization or Comp: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Name: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Register: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #000000;
letter-spacing: 1.6px;
/* CEO Fellows Copy: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* Please enter your in: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;



/*////////*/
/*About Us*/
/*////////*/



/* © 2017 - ceofellows.: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 4: */
background: #FFFFFF;
/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Bold;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3: */
border: 0 solid #979797;
border-radius: 5px;
/* Rectangle Copy: */
background: #D8D8D8;
border: 1px solid #979797;
box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
/* I grin when I hear p: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Jeff Cohn Co-Founder: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Oval 4: */
background: #FFD767;
/* Oval 4 Copy: */
background: #FFD767;
/* Rectangle Copy 2: */
background: #D8D8D8;
border: 1px solid #979797;
box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
/* I grin when I hear p: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Andy Smith Co-Founde: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* Oval 4 Copy 2: */
background: #D8D8D8;
border: 1px solid #979797;
/* Oval 4 Copy 3: */
background: #D8D8D8;
/* Line: */
border: 4px solid #FFD767;
/* Our founders have he: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #000000;
letter-spacing: 0;
/* linkedin-logo: */
/* close-envelope: */
/* JeffCohn_lowresPlaceholder: */




/*///////////////////////////////*/
/*Student Log In page ERROR INPUT*/
/*///////////////////////////////*/



/* Image 3: */
/* Rectangle: */
opacity: 0.74;
background: #000000;
/* Our network of CEOs,: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0.67px;
/* Rectangle 2: */
border: 2px solid #FFFFFF;
border-radius: 10px;
/* Apply Now: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle 3: */
border: 1px solid #979797;
border-radius: 5px;
/* Rectangle 4: */
background: #FFFFFF;
/* Rectangle 4 Copy: */
background: #FFFFFF;
/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3: */
background: #4A4A4A;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
/* Black Cover: */
background: rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #FFFFFF;
border: 1px solid #979797;
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 5px;
/* * the following fiel: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Input Background Copy 2: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Input Background Copy 3: */
border: 1px solid #D0011B;
border-radius: 3px;
/* Input Background: */
background: #FFD767;
border-radius: 3px;
/* Submit: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #4A4A4A;
/* Password: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Email Address: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #D0011B;
/* Welcome back!: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* Log In: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #000000;
letter-spacing: 1.6px;
/* CEO Fellows Copy: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;




/*///////////////////*/
/*Student Log In page*/
/*///////////////////*/




/* Image 3: */
/* Rectangle: */
opacity: 0.74;
background: #000000;
/* Our network of CEOs,: */
font-family: ApercuPro-Bold;
font-size: 48px;
color: #FFFFFF;
letter-spacing: 0.67px;
/* Rectangle 2: */
border: 2px solid #FFFFFF;
border-radius: 10px;
/* Apply Now: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle 3: */
border: 1px solid #979797;
border-radius: 5px;
/* Rectangle 4: */
background: #FFFFFF;
/* Rectangle 4 Copy: */
background: #FFFFFF;
/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* How it Works: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Our Partners: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #9B9B9B;
letter-spacing: 0;
/* Rectangle 3: */
background: #4A4A4A;
border-radius: 5px;
/* Log In: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
/* Black Cover: */
background: rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #FFFFFF;
border: 1px solid #979797;
box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 5px;
/* Input Background Copy 2: */
border: 1px solid #9B9B9B;
border-radius: 3px;
/* Input Background Copy 3: */
border: 1px solid #9B9B9B;
border-radius: 3px;
/* Input Background: */
background: #FFD767;
border-radius: 3px;
/* Enter: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #4A4A4A;
/* Password: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Email Address: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #9B9B9B;
/* Welcome back!: */
font-family: ApercuPro-Light;
font-size: 14px;
color: #000000;
letter-spacing: 1.6px;
/* Log In: */
font-family: ApercuPro-Light;
font-size: 36px;
color: #000000;
letter-spacing: 1.6px;
/* CEO Fellows Copy: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;



/*///////////////*/
/*Mobile About Us*/
/*///////////////*/


/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* Status Bar/Black/100%: */
/* Fill 1: */
background: #000000;
/* Fill 2: */
background: #000000;
/* Fill 3: */
background: #000000;
/* Our founders have he: */
font-family: ApercuPro-Bold;
font-size: 28px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* JeffCohn_lowresPlaceholder: */
/* Rectangle: */
background: #D8D8D8;
border: 1px solid #979797;
/* Jeff Cohn Co-Founder: */
font-family: ApercuPro-Bold;
font-size: 28px;
color: #000000;
letter-spacing: 0;
/* I grin when I hear p: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Oval 4: */
background: #FFD767;
/* Oval 4 Copy: */
background: #FFD767;
/* linkedin-logo: */
/* close-envelope: */
/* Andy Smith Co-Founde: */
font-family: ApercuPro-Bold;
font-size: 28px;
color: #000000;
letter-spacing: 0;
/* I grin when I hear p: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Oval 4: */
background: #FFD767;
/* Oval 4 Copy: */
background: #FFD767;
/* linkedin-logo: */
/* close-envelope: */



/*///////////*/
/*Mobile Home*/
/*///////////*/



/* CEO Fellows: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0.8px;
/* Status Bar/Black/100%: */
/* Fill 1: */
background: #000000;
/* Fill 2: */
background: #000000;
/* Fill 3: */
background: #000000;
/* Image 3: */
/* Rectangle: */
opacity: 0.74;
background: #000000;
/* Our network of CEOs,: */
font-family: ApercuPro-Bold;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.78px;
/* Apply Now: */
font-family: ApercuPro-Bold;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.78px;
/* Rectangle 2: */
border: 1px solid #FFFFFF;
border-radius: 5px;
/* “Success in today's: */
font-family: ArnhemPro-BlondItalic;
font-size: 20px;
color: #000000;
letter-spacing: 0;
/* Dr. Delos (Toby) Cos: */
font-family: ApercuPro-Bold;
font-size: 16px;
color: #000000;
letter-spacing: 0;
/* Rectangle 5: */
background: #FFD767;
box-shadow: 0 0 4px 2px rgba(196,196,196,0.50);
/* Do you have CEO Pote: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Are you a student le: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Combined Shape: */
border: 3px solid #FFFFFF;
/* Rectangle 3: */
background: #FFD767;
/* How It Works: */
font-family: ApercuPro-Bold;
font-size: 28px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* Oval Copy 2: */
background: #FFD767;
/* Oval 2: */
background: #FFFFFF;
/* Oval 2 Copy: */
background: #FFFFFF;
/* Oval 2 Copy 2: */
background: #FFFFFF;
/* Oval 2 Copy 3: */
background: #FFFFFF;
/* Oval 2 Copy 5: */
background: #FFFFFF;
/* Oval 2 Copy 6: */
background: #FFFFFF;
/* Oval 2 Copy 4: */
background: #FFFFFF;
/* Path 4: */
border: 1px solid #FFFFFF;
/* Path 5: */
border: 1px solid #FFFFFF;
/* Path 6: */
border: 0 solid #FFFFFF;
/* Oval Copy 2: */
background: #FFD767;
/* Oval 2: */
background: #FFFFFF;
/* Oval 2 Copy: */
background: #FFFFFF;
/* Oval 2 Copy 2: */
background: #FFFFFF;
/* Oval 2 Copy 3: */
background: #FFFFFF;
/* Oval 2 Copy 5: */
background: #FFFFFF;
/* Oval 2 Copy 6: */
background: #FFFFFF;
/* Oval 2 Copy 4: */
background: #FFFFFF;
/* Path 4: */
border: 1px solid #FFFFFF;
/* Path 5: */
border: 1px solid #FFFFFF;
/* Path 6: */
border: 0 solid #FFFFFF;
/* Practice valuable sk: */
font-family: ApercuPro-Regular;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Oval Copy: */
background: #FFD767;
/* Path 3: */
border: 6px solid #FFFFFF;
/* Assess your own stre: */
font-family: ApercuPro-Regular;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Oval: */
background: #FFD767;
/* ?: */
font-family: Akkurat-Bold;
font-size: 55px;
color: #FFFFFF;
letter-spacing: 0;
/* Ask CEOs tough quest: */
font-family: ApercuPro-Regular;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Get on personal rada: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Learn about leadersh: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Get a head start dev: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Be first in line for: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Expand your network: */
font-family: ApercuPro-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Rectangle 6: */
background: #FFFFFF;
/* Rectangle 6 Copy: */
background: #FFFFFF;
/* Rectangle 6 Copy 2: */
background: #FFFFFF;
/* Rectangle 6 Copy 3: */
background: #FFFFFF;
/* Rectangle 6 Copy 4: */
background: #FFFFFF;
/* The CEO fellows team: */
font-family: ApercuPro-Medium;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* We are advisors to b: */
font-family: ApercuPro-Medium;
font-size: 14px;
color: #000000;
letter-spacing: 0;
/* Our Partners include: */
font-family: ApercuPro-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0;
/* Line: */
border: 4px solid #FFD767;
/* Mask: */
background: rgba(0,0,0,0.30);
/* College: */
/* Rectangle Copy 3: */
background: rgba(0,0,0,0.50);
/* We work with top lea: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* financial_district: */
/* Rectangle Copy 4: */
background: rgba(0,0,0,0.50);
/* We have written nume: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.45);
/* Blackboard: */
/* Mask: */
background: rgba(0,0,0,0.50);
/* We have helped creat: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Mask: */
background: rgba(0,0,0,0.30);
/* google-office-tel-aviv-26: */
/* Rectangle Copy: */
background: rgba(0,0,0,0.50);
/* We are coaches to “r: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Hear from one of our: */
font-family: ApercuPro-Medium;
font-size: 28px;
color: #000000;
/* Screen Shot 2017-04-01 at 8.52.49 PM: */
box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.50);
/* Path 7: */
border: 2px solid #4A4A4A;
/* Path 7: */
border: 2px solid #4A4A4A;
/* Path 7: */
border: 2px solid #4A4A4A;
/* Path 7: */
border: 2px solid #4A4A4A;
/* Path 7: */
border: 2px solid #4A4A4A;
/* Path 7: */
border: 2px solid #4A4A4A;
/* Alpine Investor Logo: */
/* Oval 3: */
background: #4A4A4A;
/* Oval 3 Copy: */
border: 1px solid #979797;
/* Oval 3 Copy 2: */
border: 1px solid #979797;
/* Oval 3 Copy 3: */
border: 1px solid #979797;
/* “We look for high po: */
font-family: ArnhemPro-BlondItalic;
font-size: 20px;
color: #000000;
letter-spacing: 0;
/* Katie Bruzzone Marke: */
font-family: ApercuPro-Medium;
font-size: 16px;
color: #000000;
letter-spacing: 0;
/* Rectangle 7: */
background: #FFD767;
/* If all these things: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Get a Fellowship.: */
font-family: ApercuPro-Bold;
font-size: 18px;
color: #000000;
letter-spacing: 0;
/* Rectangle: */
border: 2px solid #000000;
border-radius: 3px;
/* Back to Top: */
font-family: ApercuPro-Light;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Path 7: */
border: 1px solid #FFFFFF;
/* Path 7: */
border: 1px solid #FFFFFF;
/* LEADERS-Delos-Toby-Cosgrove-Cleveland-Clinic_opt: */
/* Meet one of our stud: */
font-family: ApercuPro-Regular;
font-size: 24px;
color: #000000;
letter-spacing: 0;



/*/////////////////*/
/*Mobile Navigation*/
/*/////////////////*/



/* Image 3: */
/* Rectangle: */
opacity: 0.74;
background: #000000;
/* Rectangle 5: */
background: #4A4A4A;
/* Rectangle 2: */
background: #FFFFFF;
/* Fill 1: */
background: #000000;
/* Fill 2: */
background: #000000;
/* Fill 3: */
background: #000000;
/* Our Partners: */
font-family: ApercuPro-Medium;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
/* For Companies: */
font-family: ApercuPro-Medium;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
/* About Us: */
font-family: ApercuPro-Medium;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
/* Log In: */
font-family: ApercuPro-Medium;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
/* How it Works: */
font-family: ApercuPro-Medium;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
/* © 2017 - ceofellows.: */
font-family: ApercuPro-Regular;
font-size: 10px;
color: #9B9B9B;
letter-spacing: 0;
/* Status Bar/Black/100% Copy: */

